{% extends 'base.html' %}
{% block title %} Easy Truck - Actualizar producto {% endblock %}
{% load static %}
{% block content %}
<!-- -->
<div class="container-xxl py-5">
    <div class="container d-grid justify-items-center">
        <div class="card w-50">
            <div class="container mt-5 mb-5">
                <h2 class="text-center mb-4">Actualizar producto</h2>
                <form  method="post" enctype="multipart/form-data">
                    <p class="text-danger">{{ error }}</p>
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary text-white btn-block mt-5">Actualizar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock %}