{% extends 'base.html' %}
{% block title %} Easy Truck - Inicio {% endblock %}
{% load static %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container d-grid justify-items-center">
        <div class="card w-25">
            <div class="container mt-5 mb-5">
                <h2 class="text-center mb-4">Administración</h2>
                <p class="text-danger">* Correo y contraseña invalidos</p>
                <form>
                    <div class="form-group mt-4">
                        <label class="mb-2" for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="Introduce tu correo electrónico" required>
                    </div>
                    <div class="form-group mt-3">
                        <label class="mb-2" for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required>
                    </div>
                    <p class="mt-4 text-decoration-underline"><a href="#" class="text-muted">Olvisate tu contraseña</a></p>
                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary text-white btn-block mt-5">Iniciar Sesión</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}