{% extends 'base.html' %}
{% block title %} Easy Truck - Clientes {% endblock %}
{% load static %}
{% block content %}
<!-- Clientes Inicio -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Clientes empresariales</p>
            <h1 class="mb-5">Experiencias de clientes</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{% static 'img/team-2.jpg' %}" alt="">
                    <h5>Walmart</h5>
                    <p class="text-primary">"¡Increíblemente impresionado con la eficiencia del software de gestión de flotas! 
                        Desde que implementamos esta solución, hemos visto una reducción significativa en nuestros costos operativos
                         y una mejora notable en la productividad de nuestra flota. ¡Altamente recomendado!"</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{% static 'img/team-1.jpg' %}" alt="">
                    <h5>Sodimac</h5>
                    <p class="text-primary">"La seguridad de nuestra flota ha alcanzado un nuevo nivel desde que comenzamos a utilizar 
                        las soluciones de monitoreo y seguridad de esta empresa. Las cámaras de seguridad y los sistemas de seguimiento 
                        GPS nos han brindado tranquilidad y control total sobre nuestras operaciones. ¡Gracias por su excelente servicio!"</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="{% static 'img/team-3.jpg' %}" alt="">
                    <h5>Minuto verde</h5>
                    <p class="text-primary">"No puedo expresar lo suficiente lo fácil que ha sido trabajar con esta empresa de control de 
                        flota. Desde el primer contacto, han sido increíblemente receptivos a nuestras necesidades y preocupaciones. Su equipo 
                        ha demostrado un profundo conocimiento del sector y nos ha brindado soluciones personalizadas que han transformado nuestra
                         operación. ¡No podríamos estar más satisfechos con los resultados obtenidos!"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clientes Fin -->
{% endblock %}