{% extends 'base.html' %}
{% block title %} Easy Truck - Nosotros {% endblock %}
{% load static %}
{% block content %}

<!-- Page Header Inicio -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Acerca de nosotros</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header Fin -->


<!-- Nosotros Inicio -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">

                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="{% static 'img/service-3.jpg' %}">
                    </div>

                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{% static 'img/equipo.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="{% static 'img/service-2.jpg' %}">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="{% static 'img/excelencia.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">Acerca de nosotros</p>
                <h1 class="mb-4">Nuestra historia</h1>
                <p class="mb-4">Con una visión audaz y un enfoque centrado en la excelencia, nuestra empresa de control de flota de transportes surgió 
                    como líder en el sector desde su fundación. Respaldados por un equipo de expertos en tecnología y logística, hemos revolucionado la 
                    industria con soluciones innovadoras que optimizan la eficiencia operativa y garantizan la seguridad en cada paso del camino. Nos 
                    enorgullece ofrecer servicios de vanguardia que impulsan el éxito de nuestros clientes y establecen nuevos estándares de excelencia 
                    en la gestión de flotas a nivel mundial.</p>
                <p class="mb-4">En el corazón de nuestra misión está el compromiso con la satisfacción del cliente. 
                    Trabajamos incansablemente para comprender las necesidades individuales de cada empresa que confía en nosotros, adaptando nuestras 
                    soluciones para brindar resultados óptimos y un servicio excepcional en todo momento. Con cada innovación y cada cliente satisfecho, 
                    reafirmamos nuestro compromiso de liderar el camino hacia un futuro más eficiente, seguro y exitoso en el mundo del transporte y la logística.</p>

                
            </div>
        </div>
    </div>
</div>
<!-- Nostros Fin -->
{% endblock %}