{% extends 'base.html' %}
{% block title %} Easy Truck - Productos {% endblock %}
{% load static %}
{% block content %}
<!-- Page Header Inicio -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Productos</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Productos</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header Fin -->

<!-- Productos Inicio -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Nuestros productos</p>
            <h1 class="mb-5">Productos y Tecnología para el control de flotas. </h1>
        </div>
        <div class="row gx-4">

            {% for producto in productos %}

            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item" data-uf-multiplier="15">
                    <div class="position-relative">
                        <img class="img-fluid" src="{% static 'img/product-1.jpg' %}" alt="">
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5 mb-4" href="">{{ producto.nombre }}</a>
                        <h4 class="precio-uf text-primary me-1">{{ producto.precio }}</h4>
                        <p>{{ producto.descripcion }}</p>
                        <br>
                        <br>
                        <a href="{% url 'carrito' %}">
                            <button class="btn btn-primary">Agregar carrito</button>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="product-item" data-uf-multiplier="20">
                    <div class="position-relative">
                        <img class="img-fluid" src="{% static 'img/product-2.jpg' %}" alt="">
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5 mb-4" href="">Sensores de Telemetría y distancia</a>
                        <h4 class="precio-uf text-primary me-1"></h4>
                        <span class="precio-producto text-primary me-1"></span>
                        <br>
                        <br>
                        <button class="btn btn-primary">Agregar carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="product-item" data-uf-multiplier="14">
                    <div class="position-relative">
                        <img class="img-fluid" src="{% static 'img/product-3.jpg' %}" alt="">
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5 mb-4" href="">Cámaras de Seguridad y Monitoreo.</a>
                        <h4 class="precio-uf text-primary me-1"></h4>
                        <span class="precio-producto text-primary me-1"></span>
                        <br>
                        <br>
                        <button class="btn btn-primary">Agregar carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="product-item" data-uf-multiplier="21">
                    <div class="position-relative">
                        <img class="img-fluid" src="{% static 'img/product-4.jpg' %}" alt="">
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5 mb-4" href="">Dispositivos de Control de Temperatura.</a>
                        <h4 class="precio-uf text-primary me-1"></h4>
                        <span class="precio-producto text-primary me-1"></span>
                        <br>
                        <br>
                        <button class="btn btn-primary">Agregar carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Productos Fin -->
{% endblock %}