{% extends 'base.html' %}
{% block title %} Easy Truck - Inicio {% endblock %}
{% load static %}
{% block content %}
<!-- Registro Inicio -->
<div class="container-xxl py-5">
    <div class="container d-grid justify-items-center">
        <div class="card w-50">
            <div class="container mt-5 mb-5">
                <h2 class="text-center mb-4">Registro administrador</h2>
                <p class="text-danger">{{ error }}</p>

                <form action="{% url 'registrar' %}" method="post">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary text-white btn-block mt-5">Registarse</button>
                    </div>

                </form>


              <!--  <form>
                    <div class="form-group mt-4">
                        <label class="mb-2" for="nombre">Nombre completo</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre completo" required>
                    </div>
                    <div class="form-group mt-3">
                        <label class="mb-2" for="email">Correo</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" required>
                    </div>
                    <div class="form-group mt-3">
                        <label class="mb-2" for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required>
                    </div>
                    <div class="form-group mt-3">
                        <label class="mb-2" for="password">Repetir contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required>
                    </div>
                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary text-white btn-block mt-5" disabled>Registarse</button>
                    </div>
                    <div class="text-center ">
                        <a href="{% url 'logCliente' %}">
                            <button type="button" class="btn btn-gray btn-block mt-3">Login</button>
                        </a>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>
<!-- Registro Fin -->
{% endblock %}