{% extends 'base.html' %}
{% block title %} Easy Truck - Servicios {% endblock %}
{% load static %}
{% block content %}
<!-- Page Header Inicio -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Nuestros Servicios</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Servicios</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header Fin -->


<!-- Servicios Inicio -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Nuestros Servicios</p>
            <h1 class="mb-5">Servicios</h1>
        </div>
        <div class="row gy-5 gx-4">
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/dashboard.jpg' %}" alt="">
                    </div>
                    <div class="service-text p-5 pt-0">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/dashboard.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-3">Software de control de flotas</h4>
                        <p class="mb-4">Venta de software especializado para la gestión de flotas, que incluya funciones como seguimiento, programación de mantenimiento, optimización de rutas, generación de informes, etc.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/serv_mant.jpg' %}" alt="">
                    </div>
                    <div class="service-text p-5 pt-0">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/serv_mant.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-3">Servicios de mantenimiento</h5>
                        <p class="mb-4">En nuestro servicio de mantenimiento de flotas, ofrecemos un enfoque integral para garantizar el óptimo funcionamiento 
                            y la confiabilidad de sus vehículos comerciales. Desde la programación de servicios regulares hasta el seguimiento proactivo de las
                             necesidades de mantenimiento, nuestro equipo altamente capacitado se encarga de maximizar la vida útil de sus activos, reduciendo 
                             así los tiempos de inactividad y los costos operativos.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="{% static 'img/consultoria.jpg' %}" alt="">
                    </div>
                    <div class="service-text p-5 pt-0">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="{% static 'img/consultoria.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-3">Servicios de asesoria y consultoria</h5>
                        <p class="mb-4"> Venta de servicios de consultoría y formación para ayudar a las empresas a optimizar el uso de los productos y 
                            servicios ofrecidos, así como para proporcionar asesoramiento personalizado sobre la gestión de flotas.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Servicios Fin -->


<!-- Preferirnos Inicio -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title bg-white text-start text-primary pe-3">Por qué elegirnos!</p>
                <h1 class="mb-4">Razones de nuestros clientes que nos prefieren!</h1>
                <p class="mb-4">Nuestros clientes nos prefieren por nuestra atención personalizada, soluciones a medida y compromiso inquebrantable con la excelencia en el servicio.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Atención personalizada adaptada a las necesidades individuales de cada cliente.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Soluciones a medida diseñadas para abordar los desafíos específicos de cada negocio.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Compromiso inquebrantable con la excelencia en el servicio, desde la implementación inicial hasta el soporte continuo.</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Ver más</a>
            </div>
            <div class="col-lg-6">
                <div class="rounded overflow-hidden">
                    <div class="row g-0">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="{% static 'img/experience.png' %}" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Años de experiencia</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="{% static 'img/award.png' %}" alt="">
                                <h1 class="display-6" data-toggle="counter-up">121</h1>
                                <span class="fs-5 fw-semi-bold text-primary"> Software contratados</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="{% static 'img/chile.png' %}" alt="">
                                <h1 class="display-6" data-toggle="counter-up">30</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Sucursales en Chile.</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="{% static 'img/client.png' %}" alt="">
                                <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Usuarios</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Preferirnos Fin -->
{% endblock %}